<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Jana Boruta<br />
                  Jana is one of the happiest people you will ever meet. It probably has a lot to do with the fact that she loves what she does. Her two biggest work-related passions are developer marketing and community building/fostering, and she’s been lucky enough to indulge both at technology startups like <a href="https://www.engineyard.com/"target="_blank">Engine Yard</a>, StackMob, Prismatic and, currently, New Relic.  When she’s not working, you will find her at music festivals dancing till the sun comes up. She’s a coffee addict, recreational runner and yoga enthusiasts.<br />
                  If you want to get in touch, send an email janaboruta@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/janaboruta/">github.com/janaboruta</a><br />
                  <a href="http://twitter.com/janaboruta/">twitter.com/janaboruta</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
